.main-body {
  padding: 10px;
  color: white;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #231e39;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.bg-gray-300 {
  background-color: #231e39;
}
.h-100 {
  height: 100% !important;
}
.shadow-none {
  box-shadow: none !important;
}
.list-group,
li {
  background-color: #231e39;
}
.fa-star {
  color: #febb0b;
}
.rating-info {
  margin-bottom: 5px;
}
.rating-row {
  text-align: center;
  display: block;
}
.rating-form {
  border: 1px solid rgb(196, 24, 90);
}
input,
textarea {
  width: 70%;
  margin-bottom: 10px;
  background-color: whitesmoke;
}
.edit_block {
}
.edit-pen {
  float: right;
  color: rgb(240, 18, 18);
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.skills {
  background-color: #1f1a36;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
}
