.modal-actions {
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 21px;
}

.close-modal {
  cursor: pointer;
  float: right;
}
small {
  text-decoration: underline;
}
.main {
  margin-top: 100px;
  text-align: center;
  border: 1px solid white;
  padding: 30px;
  border-radius: 5px;
  width: 50%;
}

.btn-submit {
  color: white;
}
.handle-input {
  margin-bottom: 10px;
}
#handle-name {
  border-radius: 18px;
  border: 0px solid #609;
  background: #22252a;
  padding: 20px;
  width: 60%;
  height: 15px;
  color: white;
}
@media only screen and (max-width: 750px) {
  .main {
    width: 95%;
  }
  #handle-name {
    width: 100%;
  }
}
