.page-container {
  background: #231e39;
}
.modal-actions {
  margin-right: 4px;
  margin-top: 1px;
  margin-bottom: 21px;
  background: #231e39;
}

.close-modal {
  cursor: pointer;
  float: right;
}
small {
  color: #db6574;
  text-decoration: underline;
}
.main {
  text-align: center;
}
.btn-submit {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
.handle-input {
  margin-bottom: 10px;
}
.rounded-input {
  border-radius: 18px;
  border: 0px solid #609;
  background: #22252a;
  padding: 20px;
  width: 200px;
  height: 15px;
  color: white;
  width: 100%;
}
select {
  border-radius: 18px;
  border: 1px solid #22252a;
  width: 100%;
  background: #22252a;
  color: white;
  margin-bottom: 5px;
  height: 35px;
  line-height: 35px;
  padding-left: 12px;
}
