<!-- <div class="help" style="text-align: center;">
    <h6>Set Password</h6>
    <input type="text" [(ngModel)]="password" />
    <br/>
    <input type="text" [(ngModel)]="password2" />
    <br/>
    <button (click)="setNewPassword()" class="btn btn-primary"> Submit </button>
</div> -->


<div class="container main">
    <h2>Set New Password</h2>
    <hr />
    <div class="row">
      <div class="col-lg-12 handle-input">
        <input
          type="password"
          placeholder="New Password"
          [(ngModel)]="password"
          required
          minlength="6"
        />
      </div>
      <div class="col-lg-12 handle-input">
        <input
          type="password"
          placeholder="Repeat Password"
          [(ngModel)]="password2"
          required
          minlength="6"
        />
      </div>
      <div class="col-lg-12">
        <button
          (click)="setNewPassword()"
          class="btn btn-primary btn-submit"
        >
          Save
        </button>
      </div>
    </div>
  </div>